<% layout("/layouts/boilerplate") %> <%- include('../includes/flash.ejs') %>
<body>
  <div class="row">
    <div class="col-8 offset-2">
      <h2>Create New listings</h2>
      <form
        method="POST"
        action="/listings"
        novalidate
        class="needs-validation"
        enctype="multipart/form-data"
      >
        <div class="mb-3">
          <label for="title" class="form-label"> Title</label>
          <input
            type="text"
            name="listing[title]"
            placeholder="Add a title  "
            class="form-control"
            required
          />
          <div class="valid-feedback">Title Looks good!</div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            type="text"
            name="listing[description]"
            rows="8"
            cols="16"
            class="form-control"
            required
          ></textarea>
          <div class="invalid-feedback">
            plz enter description of the product
          </div>
        </div>
        <div class="mb-3">
          <label for="image" class="form-label"  >Upload Image File</label>
          <input name="listing[image]" class="form-control" type="file" required/>
        </div>

        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input
              type="number"
              name="listing[price]"
              placeholder="1500 "
              class="form-control"
              required
            />
            <div class="invalid-feedback">plz enter a valid price</div>
          </div>

          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input
              type="text"
              name="listing[country]"
              placeholder="Pakistan "
              class="form-control"
              required
            />
            <div class="invalid-feedback">country name should be valid</div>
          </div>
        </div>

        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input
            type="text"
            name="listing[location]"
            placeholder="karachi sindh "
            class="form-control"
            required
          />
          <div class="invalid-feedback">location should be valid</div>
        </div>
        <button class="btn btn-dark add-btn">Add</button>
      </form>
      <br />
    </div>
  </div>
</body>
